<div class="row" style="padding-left: 35%;">
    <div class="column" style="visibility: visible;"  style="width: 210.766px;">
      <div  class="card" style="height: 312.766px;" style="width: 210.766px;">
        <img src="assets/Vivek.jpg" alt="Vivek" style="width:100%">
        <div class="container">
          <h2>Vivek <br> Rovisnaker</h2>
          <p class="title">CEO &amp; Co-Founder</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="column" style="visibility: visible;"  style="width: 210.766px;">
        <div  class="card" style="height: 312.766px;" style="width: 210.766px;">
          <img src="assets/Hari.jpg" alt="Vivek" style="width:100%">
          <div class="container">
            <h2>Harishankaran <br> Karunandhi</h2>
            <p class="title">CTO &amp; Co-Founder</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
      <div class="column" style="visibility: visible;"  style="width: 210.766px;">
        <div  class="card" style="height: 312.766px;" style="width: 210.766px;">
          <img src="assets/Maria.jpg" alt="Vivek" style="width:100%">
          <div class="container">
            <h2>Maria <br> Chung</h2>
            <p class="title">Cheif People Officer</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
      <div class="column" style="visibility: visible;" >
        <div  class="card" style="height: 312.766px;" style="width: 210.766px;">
          <img src="assets/Ramesh.jpg" alt="Vivek" style="width:100%">
          <div class="container">
            <h2>Ramesh <br> Sethuraman</h2>
            <p class="title">Cheif Financial Officer</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
  </div>

  