<div class="container-flud">
      <a class="navbar-brand" href="#">
        <img src="assets/airbnb.png" alt="" width="120" height="36" >
      </a>
      <a class="navbar-brand" href="#">
        <img src="assets/cisco.png" alt="" width="120" height="36" >
      </a>
      <a class="navbar-brand" href="#">
        <img src="assets/twitter.png" alt="" width="120" height="36" >
      </a>
      <a class="navbar-brand" href="#">
        <img src="assets/Bloomberg_Logo.png" alt="" width="120" height="36" >
      </a>
      <a class="navbar-brand" href="#">
        <img src="assets/vmware.png" alt="" width="120" height="36" >
      </a>
      <a class="navbar-brand" href="#">
        <img src="assets/airbnb.png" alt="" width="120" height="36" >
      </a>
      <a class="navbar-brand" href="#">
        <img src="assets/cisco.png" alt="" width="120" height="36" >
      </a>

</div>