<footer class="fl-row fl-row-full-width fl-row-bg-none fl-node-5e8618d595620 hr__site-footer" data-node="5e8618d595620">
    <div class="fl-row-content-wrap">
        <div class="fl-row-content fl-row-fixed-width fl-node-content">

            <div class="fl-col-group fl-node-5e8618d59542c" data-node="5e8618d59542c">
                <div class="fl-col fl-node-5e8618d5954d4" data-node="5e8618d5954d4">
                    <div class="fl-col-content fl-node-content">
                        <div class="fl-module fl-module-rich-text fl-node-5e8618d59557b" data-node="5e8618d59557b">
                            <div class="fl-module-content fl-node-content">
                                <div class="fl-rich-text" style="padding-left: 10%;">
                                    <p>Copyright ©&nbsp;2022&nbsp;HackerRank &nbsp;<span style="color: #738f93;">|
                                        </span>&nbsp;<a href="https://www.hackerrank.com/careers">Careers</a></p>
                                    <p><span style="color: #738f93;"><a style="color: #738f93;"
                                                href="https://www.hackerrank.com/privacy">Privacy Policy</a></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>