<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Matching developers <br>with great companies.</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <div>
          <h2>For Companies</h2>
          <p>We are the market–leading technical
            interview platform to identify and hire
            developers with the right skills.
            </p>
          <a href="#" class="btn btn-primary">
            Start Hiring
        </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
        </div>
        <div>
          <h2>For Job Seekers</h2>
          <p>Join over 18 million developers,
            practice coding skills, prepare for
            interviews, and get hired.</p>
          <a href="#" class="btn btn-primary">
            Sign Up & Code
          </a>
        </div>
      </div>
    </div>
  </div>