<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="assets/heroone.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500"
        loading="lazy">
    </div>
    <div class="col-lg-6">
      <div class="fl-module fl-module-heading fl-node-61bcb51fe7698" data-node="61bcb51fe7698">
        <div class="fl-module-content fl-node-content">
          <h3 class="fl-heading">
            <span class="fl-heading-text">Remove Bias,<br>Design in Diversity</span>
          </h3>
        </div>
      </div>
      <div class="fl-rich-text">
        <p>Millions of fair, valid, and reliable assessments delivered based on 4 key pillars:</p>
        <ul class="hr__colored-list hr__colored-list--lg">
          <li><strong>Job Relevancy</strong> designed into our technical skills rubric by industry experts</li>
          <li><strong>Field-tested Unbiased Content</strong> developed using fairness and strict sensitivity guidelines
          </li>
          <li><strong>Validation Studies</strong> with countless enterprises certify no adverse impact by gender, race,
            or ethnic group</li>
          <li><strong>Reliability Studies</strong> found our assessments to be highly accurate</li>
        </ul>
      </div>
    </div>

  </div>
</div>