<h2>
    Request Demo
</h2>

<div class="Content-Area">

    <div class=".col-xs-12 .col-md-8"  >
        <p>Standardize technical recruiting, increase candidate quality, and <br> recover valuable engineering time with HackerRank for Work.

        </p>
        <p>
            Schedule a quick demo and learn how to:
        </p>
        <ul>
            <li>Build technical skills assessments with pre-built or custom challenges</li>
            <li>View results instantly and automate code reviews</li>
            <li>Offer candidates a stellar interview experience</li>
        </ul>
    </div>
    <div>
        <form class="row g-3">
            <div class="col-auto">
                <label for="inputEmail2" class="visually-hidden">Email</label>
                <input type="text"  class="form-control" id="staticEmail2" value="Buisness Email">
                <div class="col-auto" padding-top="5px">
                    <button type="submit" class="btn btn-primary mb-3">Request Demo</button>

                    <p>By submitting this form, you agree to our privacy policy.

                    </p>
                </div>
            </div>
            
            
        </form>
    </div>
</div>
<div container="imagebar" styles= "fl-photo-align-center">
    <img 
    src="assets/logo-atlassian-a.png" height="112" width="220" padding-right="">
    <img 
    src="assets/logo-bookingcom.png" height="112" width="220" >
    <img 
    src="assets/logo-icon-dropbox.png"  height="112" width="220">
    <img 
    src="assets/logo-icon-goldman-sachs.png"  height="112" width="220">
    <img 
    src="assets/logo-icon-linkedin.png"  height="112" width="220">
    <img 
    src="assets/logo-icon-stripe.png"  height="112" width="220">
</div>