<h1>
    Sign Up
</h1>
<div class="label">
    <button type="button" class="btn btn-primary">Buisness</button>
</div>
<div class="Content-Area">

    <div class=".col-xs-12 .col-md-8"  >
        <h3>For Buisness</h3>
        <p>We are the market–leading technical<br>
            interview platform to identify and hire <br>
            developers with the right skills.</p>
        <button type="button-login" class="btn btn-primary">Get Free Trail</button>
        <button type="button-login" class="btn btn-primary">Request Demo</button>
        <p>Already have an account? Login</p>
    </div>
    <div class=".col-xs-12 .col-md-8" >
        <h3>For Developers</h3>
        <p>Join over 18 million developers, <br>
            practice coding skills, prepare for <br>
            interviews, and get hired.</p>
        <button type="button-login" class="btn btn-primary">Sign Up & Code</button>
        <p>Already signed up? Login</p>
    </div>
</div>

<div container="imagebar" styles= "fl-photo-align-center">
    <img 
    src="assets/logo-atlassian-a.png" height="112" width="220" padding-right="">
    <img 
    src="assets/logo-bookingcom.png" height="112" width="220" >
    <img 
    src="assets/logo-icon-dropbox.png"  height="112" width="220">
    <img 
    src="assets/logo-icon-goldman-sachs.png"  height="112" width="220">
    <img 
    src="assets/logo-icon-linkedin.png"  height="112" width="220">
    <img 
    src="assets/logo-icon-stripe.png"  height="112" width="220">
</div>