<div class="row">
    
    <div class="card-group">
        <div class="card">
            <img src="assets/Vivek.jpg" class="card-img-top" alt="Vivek">
      <div class="card-body">
        <h5 class="card-title">Plan</h5>
        <p class="card-text">Orchestrate an <br> efficient hiring <br> process.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Source</h5>
        <p class="card-text">Reach a qualified <br> diverse talent pool.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Rank</h5>
        <p class="card-text">Accelerate hiring and <br> save valued time.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Interview</h5>
          <p class="card-text">Conduct great <br> technical interviews <br> from anywhere.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>
</div>