div.container-fluid{
  background: linear-gradient(90deg, #00ACE0 .75%, #31D4D2 100%),#C4C4C4;
  padding-top: 10px;
  padding-bottom: 10px;

}

a.nav-link.text1{
  color: white;
  font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    font-weight:bold; 
}
a.nav-link.text{
  color: white;
  font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
   
}
.button1{
  font-size: 0.885em;
    font-weight: 700;
    line-height: 2em;
    border: 1px solid #fff;
    border-radius: 1.636em;
    border-color: white;
    padding: 0 0.909em;
    margin-right: 0.5em;
    display: inline-block;
    background-color: #00ACE0;
    color: #fff;
  
}

.button2{
  background-color: #FFFFFF;
  border: 1px solid #1ba94c;
  color: #1ba94c;
  font-size: 0.923em;
    min-height: 2.5em;
    padding-bottom: 0;
    padding-left: 1.667em;
    padding-right: 1.667em;
    padding-top: 0;
}