<div class="container">
    <footer class="py-6 my-5 mx-5">
        <div class="row">
            <div class="col-2">
                <h5>Products</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Remote First Hiring</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Remote First Planning</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Remote First Sourcing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Remote First Interviewing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Remote First Banking</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">HackerRank for Developers</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">HackerRank for School</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Partners</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>

                </ul>
            </div>

            <div class="col-2">
                <h5>Solutions</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Remote Hiring</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">University Recruiting</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Diversity & Inclusion</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Professional Hiring</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Professional Services</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Assessment Science</a></li>
                  

                </ul>
            </div>

            <div class="col-2">
                <h5>Customers</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">All Industries</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Financial Services</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Technology</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">More</a></li>
                </ul>
            </div>

            <div class="col-2">
                <h5>Resources</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Events</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Data Sheets</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Guides</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Webinars</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Research</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Security</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Trust</a></li>
                </ul>
            </div>

            <div class="col-2">
                <h5>Blog</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Find a Job</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Hire Developers</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Industry Insights</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Manage Developers</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">News and Updates</a></li>
                </ul>
            </div>

            <div class="col-2">
                <h5>About Us</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Company</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Careers</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Our Team</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">  Newsroom</a></li>
                </ul>
            </div>

        </div>
        
        <div class="d-flex justify-content-between mx-6 border-top">
            <p> Copyright © 2022 HackerRank </p>
            <p>Privacy Policy</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#twitter"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#instagram"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#facebook"></use>
                        </svg></a></li>
            </ul>
        </div>
    </footer>
</div>
