<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="assets/DSP-Datasheet-500-x-342.png" class="card-img-top" alt="img1">
        <div class="card-body">
          <h5 class="card-title">Data Sheet</h5>
          <p class="card-text">HackerRank Developer <br> Skills Platform.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img width="1000" src="assets/HackerRank_PracticalTips.png" class="card-img-top" alt="img2">
        <div class="card-body">
          <h5 class="card-title">Guide</h5>
          <p class="card-text">Guide: Practical Tips <br> for Remote Technical <br> Hiring.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="assets/HackerRank_bloomberg.png" class="card-img-top" alt="img3">
        <div class="card-body">
          <h5 class="card-title">Resosurces</h5>
          <p class="card-text">Making Remote Work: <br> How Bloomberg <br> Adapted to Virtual Interviews</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="assets/resources4.png" class="card-img-top" alt="img4">
        <div class="card-body">
          <h5 class="card-title">Blog</h5>
          <p class="card-text">New Product Updates: <br>  Enabling Remote <br>  Hiring with HackerRank
          </p>
        </div>
      </div>
    </div>
  </div>